<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" *ngIf="user.role_id == 1">
    <div fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <div fxFlex="75">
                <h1>Patient Appointments</h1>
            </div>
            <div fxFlex="25" style="text-align: right;">
                <button mat-icon-button (click)="getAppointments()" style="width: auto;">
                    <mat-icon>loop</mat-icon>
                    Refresh
                </button>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_mobile}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_email}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <span
                            [ngClass]="{'app-cancelled': element.status == 'c', 'app-accepted': element.status == 'a', 'app-rejected': element.status == 'r', 'app-pending': element.status == 'p'}">
                            {{element.status == 'a' ? 'accepted' : element.status == 'r' ? 'rejected' : element.status == 'c' ? 'cancelled' : 'pending'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon [matMenuTriggerFor]="menu" class="action-icon" *ngIf="element.status == 'p'">more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="updateStatus(element._id, 'a')">
                                <mat-icon>done</mat-icon>
                                Accept
                            </button>
                            <button mat-menu-item (click)="updateStatus(element._id, 'r')">
                                <mat-icon>highlight_off</mat-icon>
                                Reject
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
        </div>

    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" *ngIf="user.role_id == 2">
    <div fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <div fxFlex="75">
                <h1>My Appointments</h1>
            </div>
            <div fxFlex="25" style="text-align: right;">
                <button mat-icon-button (click)="getAppointments()" style="width: auto;">
                    <mat-icon>loop</mat-icon>
                    Refresh
                </button> &nbsp;&nbsp;&nbsp;
                <button mat-icon-button (click)="createAppointmentFunc()" style="width: auto;">
                    <mat-icon>add_circle_outline</mat-icon>
                    Create Appontment
                </button>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor_name}} </td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Doctor Mobile </th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor_mobile}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Doctor Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor_email}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <span
                            [ngClass]="{'app-cancelled': element.status == 'c', 'app-accepted': element.status == 'a', 'app-rejected': element.status == 'r', 'app-pending': element.status == 'p'}">
                            {{element.status == 'a' ? 'accepted' : element.status == 'r' ? 'rejected' : element.status == 'c' ? 'cancelled' : 'pending'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon [matMenuTriggerFor]="menu" class="action-icon" *ngIf="element.status == 'p'">more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="updateStatus(element._id, 'c')">
                                <mat-icon>highlight_off</mat-icon>
                                Cancel
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
        </div>
    </div>
</div>

<ng-template #createAppointment>
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary" style="position: absolute; left:0; right: 0;bottom: 100px;width: 200px;margin: auto;">
    </mat-progress-bar>
    <div style="font-size: 20px;border-bottom: 0.5px dotted #575757;padding-bottom: 5px;margin-bottom: 25px;">
        <h4 style="font-weight: 500;"> Create Appointment</h4>
    </div>
    <form class="appointment-form" style="text-align: center;padding: 5% 5% 0 5%;" [formGroup]="appointmentForm"
        (ngSubmit)="submit()">
        <mat-dialog-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
                <div fxFlex="40">
                    <mat-form-field appearance="fill">
                        <mat-label>Appointment Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" [(ngModel)]="appointment.date">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>insert_invitation</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Appointment Time</mat-label>
                        <input matInput [ngxTimepicker]="time" formControlName="time" [(ngModel)]="appointment.time">
                        <mat-icon matSuffix>access_time</mat-icon>
                        <ngx-material-timepicker #time></ngx-material-timepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Location</mat-label>
                        <mat-select formControlName="location" [(ngModel)]="appointment.location" (selectionChange)="getDoctors()">
                            <mat-option *ngFor="let loc of locations" [value]="loc._id">
                                {{loc.location}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Doctor</mat-label>
                        <mat-select formControlName="doctor" [(ngModel)]="appointment.doctor">
                            <mat-option *ngFor="let doc of doctors" [value]="doc._id">
                                {{doc.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="60" >
                    <div *ngIf="appointment.location">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
                        [styles]="mapType">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                    <div *ngIf="!appointment.location">
                        <mat-icon>location_on</mat-icon> <p>Select the location!</p>
                    </div>
                </div>
            </div>
            <br />
        </mat-dialog-content>
        <mat-dialog-actions>
            <div style="text-align: right;width: 100%;margin-top: 50px">
                <button mat-raised-button type="submit" color="primary"
                    [disabled]="!appointmentForm.valid">Submit</button>
                <button mat-raised-button matDialogClose="yes" [mat-dialog-close]="true">Close</button>
            </div>
        </mat-dialog-actions>
    </form>
</ng-template>